:root {
  --ion-color-primary: #6c63ff;
  --ion-color-primary-rgb: 108, 99, 255;
  --ion-color-primary-contrast: #ffffff;

  --ion-color-secondary: #00c6a7;
  --ion-color-tertiary: #f5f6fa;

  --ion-background-color: #f9f9fb;
  --ion-text-color: #1e1e1e;

  --ion-border-radius: 12px;
}
